<h3>Welcome to the E-Ship Network Case Management</h3>

Hi {{ name }}! You have successfully registered to the E-Ship Network Case Management.

<div>
    You can login anytime by clicking the following link: {{ link }}
</div>
<div>
    We appreciate your interest in our services and we will be in touch with you as soon as possible.
</div>
<div>
    Have a Nice Day!
</div>