<h3>You have received a request to join the E-Ship Network Case Management</h3>

Hi {{ adminName }} has invited you to join the E-Ship Network Case Management Site.

<div>
    To create your account, please click the following link: {{ link }}
</div>
<div>
    If you have any questions, please contact {{ adminName }} on the following email: {{ adminEmail }}.
</div>
<div>
    Have a Nice Day!
</div>