<h3>A new Business have been added to the E-Ship Network Case Management</h3>

{{ businessName }} have been added to our records.

<div>
    You can view the profile of {{ businessName }} by clicking the following link: {{ link }}
</div>
<div>
    Remember you must be logged in, in order to see {{ businessName }}'s profile.
</div>
<div>
    Have a Nice Day!
</div>