<h3>Welcome to the E-Ship Network Family</h3>

Hi {{ name }}! You're successfully registered to the E-Ship Network Case Management.

<div>
    Please activate your account by clicking the following link: {{ link }}
</div>
<div>
    We appreciate your help.
</div>
<div>
    Have a Nice Day!
</div>