<div class="page-title">
  <h2>Business Growth Progress</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap" >

  <div class="row">
    <div class="col-md-12"  >


      <!-- START TABS -->
      <div class="panel panel-default tabs">
        <ul class="nav nav-tabs" role="tablist" align="center">
          <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Idea in Development</a></li>
          <li><a href="#tab-second" role="tab" data-toggle="tab">Startup</a></li>
          <li><a href="#tab-third" role="tab" data-toggle="tab">Business in Development</a></li>
          <li><a href="#tab-fourth" role="tab" data-toggle="tab">Expanding Business</a></li>
          <li><a href="#tab-fifth" role="tab" data-toggle="tab">Decline</a></li>
          <li><a href="#tab-sixth" role="tab" data-toggle="tab">Total Progress</a></li>
        </ul>
        <div class="panel-body tab-content" >
          <div class="tab-pane active" id="tab-first">

            <div class="col-md-12" style="margin-top:20px">
              <div class="col-md-9" style="float:none; margin:auto" >
                <div class="progress" align="center">
                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Completed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>In Progress:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Stagnant:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Delayed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Quit:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>









          </div>
          <div class="tab-pane" id="tab-second">

            <div class="col-md-12" style="margin-top:20px">
              <div class="col-md-9" style="float:none; margin:auto" >
                <div class="progress" align="center">
                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Completed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>In Progress:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Stagnant:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Delayed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Quit:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>


          </div>
          <div class="tab-pane" id="tab-third">

            <div class="col-md-12" style="margin-top:20px">
              <div class="col-md-9" style="float:none; margin:auto" >
                <div class="progress" align="center">
                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Completed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>In Progress:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Stagnant:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Delayed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Quit:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>


          </div>
          <div class="tab-pane" id="tab-fourth">

            <div class="col-md-12" style="margin-top:20px">
              <div class="col-md-9" style="float:none; margin:auto" >
                <div class="progress" align="center">
                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Completed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>In Progress:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Stagnant:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Delayed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Quit:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>


          </div>


          <div class="tab-pane active" id="tab-sixth">

            <div class="col-md-12" style="margin-top:20px">
              <div class="col-md-9" style="float:none; margin:auto" >
                <div class="progress" align="center">
                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Completed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>In Progress:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Stagnant:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Delayed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Quit:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>









          </div>


          <div class="tab-pane active" id="tab-first">

            <div class="col-md-12" style="margin-top:20px">
              <div class="col-md-9" style="float:none; margin:auto" >
                <div class="progress" align="center">
                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Completed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>In Progress:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Stagnant:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Delayed:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3" align="left"  >
                <h3>Quit:</h3>
              </div>

              <div class="col-md-6" align="center" style="margin-top:20px">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align:center">Task</th>
                      <th style="text-align:center">Date</th>

                    </tr>
                    </thead>
                    <tr>
                      <td></td>
                      <td></td>


                    </tr>
                  </table>



                </div>
              </div>
            </div>









          </div>


        </div>
      </div>
      <!-- END TABS -->




















    </div>
  </div>

  <!-- END VALIDATIONENGINE PLUGIN -->

</div>


</div>
</div>


</div>
