<!-- PAGE TITLE -->
<div class="page-title">
  <h2>Business Growth Progress</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-12"  >
      <!-- START VALIDATION ENGINE PLUGIN -->
      <div class="tab-pane active" id="tab-first">
        <div class="row" >
          <div class="col-md-3" align="left" style="margin-top:20px" >
            <h3>Idea in Development:</h3>
          </div>
          <div class="col-md-6" align="center" style="margin-top:20px">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style="text-align:center">Task</th>
                  <th style="text-align:center">Status</th>
                </tr>
                </thead>
                <tr>
                  <td ng-model="task" style="text-align:center">Identification of an Opportunity </td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Research</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Client Discovery Process</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Identification of Proposal Value</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Identification of Key People</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Identification of Available Resources</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Identification of Funding Sources</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Identification of Channels</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Plan to Maintain a Relation with the Client</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Preliminary Cost Analysis</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Preliminary Analysis of Prototype Input</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td ng-model="task" style="text-align:center">Verification of Intellectual Property Aspects</td>
                  <td style="text-align:center">
                    <select required name="status" ng-model="registration.status" class="select">
                      <option value="">Choose Option</option>
                      <option value="4">Completed</option>
                      <option value="3">In Progress</option>
                      <option value="2">Stagnant</option>
                      <option value="1">Delayed</option>
                      <option value="0">Quit</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END VALIDATIONENGINE PLUGIN -->
  </div>
</div>
