<!-- PAGE TITLE -->
<title>Change Password - E-Ship Network Case Management</title>
<div class="page-title">
  <h2 style="text-align:center">
    <!--<span class="fa fa-arrow-circle-o-left"></span>-->Change Password
  </h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-8" style="float:none; margin:auto">
      <!-- START VALIDATIONENGINE PLUGIN -->
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" name="changePassForm" class="form-horizontal" novalidate>
            <div class="form-group">
              <label class="col-md-4 col-xs-12 control-label">Current Password:</label>
              <div class="col-md-6 col-xs-12">
                <input required type="password" name="old_password"
                       ng-model="change.current_password_"
                       ng-minlength="8" ng-maxlength="20"
                       ng-pattern="regexs.password"
                       class="form-control"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 col-xs-12  control-label">New Password:</label>
              <div class="col-md-6 col-xs-12">
                <input required type="password" name="new_password" ng-model="change.new_password_"
                       ng-minlength="8" ng-maxlength="20"
                       ng-pattern="regexs.password"
                       class="form-control"/>
              </div>
              <div class="col-sm-1">
                <img ng-if="(changePassForm.new_password.$dirty || changePassForm.new_password.$dirty) && (changePassForm.new_password.$invalid && !validPassword())"
                     src="images/invalid.png" width="16" height="16"/>
                <img ng-if="(changePassForm.new_password.$dirty || changePassForm.new_password.$dirty) && (changePassForm.new_password.$valid && validPassword())"
                     src="images/valid.png" width="16" height="16"/>
                <span class="help-block">Required</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 col-xs-12 control-label">Confirm Password:</label>
              <div class="col-md-6 col-xs-12">
                <input required type="password" name="confirm_password" ng-model="change.confirm_password_"
                       ng-minlength="8" ng-maxlength="20"
                       ng-pattern="regexs.password"
                       class="form-control"/>
              </div>
              <div class="col-sm-1">
                <img ng-if="(changePassForm.confirm_password.$dirty || changePassForm.confirm_password.$dirty) && (changePassForm.confirm_password.$invalid && !validPassword())"
                     src="images/invalid.png" width="16" height="16"/>
                <img ng-if="(changePassForm.confirm_password.$dirty || changePassForm.confirm_password.$dirty) && (changePassForm.confirm_password.$valid && validPassword())"
                     src="images/valid.png" width="16" height="16"/>
                <span class="help-block">Required</span>
              </div>
            </div>

            <div class="btn-group pull-right">
              <button class="btn btn-primary" ng-click="postChange()"
                      ng-disabled="(!validPassword() || changePassForm.$invalid || isPosting)"
                      type="submit">
                  {{(isPosting)? 'Changing Password ':'Change Password'}}
                  <i ng-if="isPosting" class="fa fa-spinner fa-pulse fa-fw"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- END VALIDATIONENGINE PLUGIN -->
    </div>
  </div>
</div>
