<title>Reset Password - E-Ship Network Case Management</title>
<div class="login-container" ng-controller="loginCtrl">
  <div class="login-box animated fadeInDown">
    <div><img src="images/E-shipLogo.png" width="400" height="150" alt="Eship Logo"></div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 style="text-align:center">Reset your Password </h3>
        <form id="validate"  role="form" name="change" class="form-horizontal" novalidate>
          <div class="form-group">
            <label class="col-md-4 col-xs-12 control-label">New Password:</label>
            <div class="col-md-6 col-xs-12">
              <input required type="password" name="password" autocomplete="off" ng-model="reset.new_password_"
                     ng-minlength="8" ng-maxlength="20" ng-pattern="regexs.password" class="form-control"/>
            </div>
            <div class="col-sm-1">
              <img ng-if="(change.confirm_password.$dirty || change.password.$dirty) && (change.password.$invalid && !validPassword())"
                   src="images/invalid.png" width="16" height="16"/>
              <img ng-if="(change.confirm_password.$dirty || change.password.$dirty) && (change.password.$valid && validPassword())"
                   src="images/valid.png" width="16" height="16"/>
              <span class="help-block">Required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 col-xs-12 control-label">Confirm Password:</label>
            <div class="col-md-6 col-xs-12">
              <input required type="password" name="confirm_password" autocomplete="off" ng-model="reset.confirm_password_"
                     ng-minlength="8" ng-maxlength="20" ng-pattern="regexs.password" class="form-control"/>
            </div>
            <div class="col-sm-1">
              <img ng-if="(change.confirm_password.$dirty || change.password.$dirty) && (change.password.$invalid && !validPassword())"
                   src="images/invalid.png" width="16" height="16"/>
              <img ng-if="(change.confirm_password.$dirty || change.password.$dirty) && (change.password.$valid && validPassword())"
                   src="images/valid.png" width="16" height="16"/>
              <span class="help-block">Required</span>
            </div>
          </div>
          <div class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="submitRequest()" ng-disabled="!isValid()" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

