<title>Forgot Password - E-Ship Network Case Management</title>
<!-- PAGE TITLE -->
<div class="page-title">
    <h2 style="text-align:center">
        <!--<span class="fa fa-arrow-circle-o-left"></span>-->Forgot Password
    </h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-6" style="float:none; margin:auto">
            <!-- START VALIDATIONENGINE PLUGIN -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="text-align:center">Enter your email to reset your password. </h3>
                    <form id="validate"  role="form" class="form-horizontal" novalidate>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Email:</label>
                            <div class="col-md-6 col-xs-12">
                                <input required type="text" name="email" ng-model="resetEmail.email" class="form-control"/>
                            </div>
                            <div class="col-md-1">
                                <span class="help-block">Required</span>
                            </div>
                        </div>

                        <div class="btn-group pull-right">
                            <button class="btn btn-primary" ng-click="submitRequest()" ng-disabled="!isValid()" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END VALIDATIONENGINE PLUGIN -->
        </div>
    </div>
</div>
